@media all and (min-width: 480px) {

  .formBackground{
    background-color: #e4e4e4;
    box-sizing: border-box;
    margin: auto;
    width: 30%;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  .formBackground h3{
    text-align: center;
  }
  
  .loginAlert{
    width: 100%;
  }

  .loginAlertHeading{
    text-align: center;
    font-size: medium !important;
  }

  .Login {
    padding: 60px 0;
    height: 100%;
  }

  .Login button {
    margin-top: 10px;
  }

  .Login form {
    margin: 0 auto;
    max-width: 20em;
    background-color: #e4e4e4;
    padding: 1em 1em 1em 1em;
  }

  .title {
    text-align: center;
    color: #006747;
    padding-bottom: 2.5em;
  }
}
